---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getCountryByCode } from "@/utils/countries";
import type { ICountryCode } from "@/utils/countries";

const { memberEntry } = Astro.props;

interface Props {
  memberEntry: CollectionEntry<"members">;
}

const member = memberEntry.data;
const memberCountry = getCountryByCode(member.rotaryClub.country) as ICountryCode;
---

<!-- The following anchor tag is the main container for the card.
     It's a link to the member detailed page.
     The data-astro-prefetch is an Astro specific Dynamic HTML feature,
     which automatically prefetches the linked page to speed up navigation. -->
<a
  class="group relative block rounded-xl outline-none ring-zinc-500 transition duration-500 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none"
  href={`/members/${memberEntry.slug}/`}
  data-astro-prefetch
>
  <!-- The container for the member's cover image. Uses astro:assets' Image for image source -->
  <div
    class="relative h-[350px] w-full flex-shrink-0 overflow-hidden rounded-xl before:absolute before:inset-x-0 before:z-[1] before:size-full before:bg-gradient-to-t before:from-neutral-900/[.7]"
  >
    <Image
      class="absolute start-0 top-0 size-full object-cover transition duration-500 group-hover:scale-110"
      src={member.image}
      alt={member.name}
      draggable={"false"}
      loading={"eager"}
      format={"avif"}
    />
  </div>

  <!-- The container for the member details -->
  <div class="absolute inset-x-0 bottom-0 z-10">
    <div class="flex h-full flex-col p-4 sm:p-6">
      <h3
        class="text-balance text-lg font-bold text-neutral-50 group-hover:text-neutral-50/[.8] sm:text-3xl"
      >
        {member.name}
        {memberCountry.emoji}
      </h3>
      <p class="text-pretty text-neutral-50/[.8]">
        {member.jobTitle}
      </p>
      <p class="text-pretty text-neutral-50/[.8] text-sm">
        {member.rotaryClub.name}, {memberCountry.name}, D{member.rotaryClub.districtNumber}
      </p>
    </div>
  </div>
</a>
@/utils/countries@/utils/countries